<div class="card mx-2 mt-4">
    <div class="card-body text-center px-5">
        <div class="{{imgClass}} client-img mt-2 mb-2 mx-auto"></div>
        <div class="h6 card-text">{{name}}</div>
        <div class="card-text"><a href="#"><small>{{email}}</small></a></div> 
        <div class="card-text d-flex justify-content-center mt-2">
            {{{connectionDivs}}}
        </div>
        <div class="card-text d-flex mt-4 justify-content-between">
            <div class="btn btn-sm btn-outline-dark card-btn mx-2">
                <span class="material-icons">people</span> Profile
            </div>
            <div class="btn btn-sm btn-outline-dark card-btn mx-2">
                <span class="material-icons">mail_outline</span> Message
            </div>
        </div>
    </div>
</div>