$green-fg: #28a745;
$green-bg: #20c9974d;
$blue: #007bff;
$content-bg: #87cefa4f;

body{
    background-color: $content-bg;
}

%circular{
    border-radius: 50%;
}

%dropdown{
    color: lightgray;
    vertical-align: middle;
}

%dropdown-hover{
    color: gray;
    cursor: pointer;
}

%profile-img{
    width: 24px;
    height: 24px;
    @extend %circular;
}

.bell-icon{
    @extend %circular;
    color: $green-fg;
    background-color: $green-bg;
    vertical-align: middle;
}

.acc-img {
    @extend %profile-img;
    background: url("profile.jpg");
}

.profile-img{
    @extend %circular;
    width:18px;
    height:18px;
    background-size: 37%;
}

.profile-name{
    color: gray;
}

.profile-dropdown{
    @extend %dropdown;
    
}

.profile-dropdown:hover, .profile-name:hover, .profile-img:hover, .clients-dropdown:hover{
    @extend %dropdown-hover;
}

.clients-dropdown{
    width:18px;
    height:18px;
    line-height: 18px;
    @extend %dropdown;
    
}

#sidebar{
    width: 250px;
    height: 100%;
    position: fixed;
    left:0;
    z-index: 1;
    background-color: rgba(255,255,255,1);
    display: none;
    transition: opacity 0.2s linear;
}

.list-group-item{
    border-bottom: 0;   
}

.list-group-item.active{
    background-color: initial;
    color: initial;
    border-top: 0;
    border-left: 3px solid $blue;
    color: $blue;
}

.list-group-item{
    text-decoration: none;
    color: inherit;   

    .material-icons{
        vertical-align: text-bottom;
    }

}

.list-group-item:hover{
    text-decoration: none;
    color: $blue;
}


.list-group-item.active:hover{
    color: $blue;
}

#btn-expand-sidebar:hover{
    border: 1px solid $blue;
}

#btn-expand-sidebar:active{
    background-color: $blue;
}

#content{
    margin-left:0px;
    height: 100%;
}

.search-input{
    width: 200px;
    background: url("search.svg") no-repeat 100%;
    background-position: left;
    text-indent: 18px;
}


.client-img{
    @extend %circular;
    width: 48px;
    height:48px;
}

.client-1{
    background: url("client-1-img.jpg");
}

.client-2{
    background: url("client-2-img.jpg");
}

.client-3{
    background: url("client-3-img.jpg");
}

.client-4{
    background: url("client-4-img.jpg");
}

.client-5{
    background: url("client-5-img.jpg");
}

.client-6{
    background: url("client-6-img.jpg");
}

.client-7{
    background: url("client-7-img.jpg");
}

.card-btn{
    border: 1px solid lightgray;
    color: lightgray;

    .material-icons{
        vertical-align: text-bottom;
    }
}

.navbar{
    width:100%;
    position: fixed;
    top:0;
    z-index: 2;
}