body {
  background-color: #87cefa4f;
}

.acc-img, .bell-icon, .profile-img, .client-img {
  border-radius: 50%;
}

.profile-dropdown, .clients-dropdown {
  color: lightgray;
  vertical-align: middle;
}

.profile-dropdown:hover, .profile-name:hover, .profile-img:hover, .clients-dropdown:hover {
  color: gray;
  cursor: pointer;
}

.acc-img {
  width: 24px;
  height: 24px;
}

.bell-icon {
  color: #28a745;
  background-color: #20c9974d;
  vertical-align: middle;
}

.acc-img {
  background: url("profile.jpg");
}

.profile-img {
  width: 18px;
  height: 18px;
  background-size: 37%;
}

.profile-name {
  color: gray;
}

.clients-dropdown {
  width: 18px;
  height: 18px;
  line-height: 18px;
}

#sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 1;
  background-color: white;
  display: none;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.list-group-item {
  border-bottom: 0;
}

.list-group-item.active {
  background-color: initial;
  color: initial;
  border-top: 0;
  border-left: 3px solid #007bff;
  color: #007bff;
}

.list-group-item {
  text-decoration: none;
  color: inherit;
}

.list-group-item .material-icons {
  vertical-align: text-bottom;
}

.list-group-item:hover {
  text-decoration: none;
  color: #007bff;
}

.list-group-item.active:hover {
  color: #007bff;
}

#btn-expand-sidebar:hover {
  border: 1px solid #007bff;
}

#btn-expand-sidebar:active {
  background-color: #007bff;
}

#content {
  margin-left: 0px;
  height: 100%;
}

.search-input {
  width: 200px;
  background: url("search.svg") no-repeat 100%;
  background-position: left;
  text-indent: 18px;
}

.client-img {
  width: 48px;
  height: 48px;
}

.client-1 {
  background: url("client-1-img.jpg");
}

.client-2 {
  background: url("client-2-img.jpg");
}

.client-3 {
  background: url("client-3-img.jpg");
}

.client-4 {
  background: url("client-4-img.jpg");
}

.client-5 {
  background: url("client-5-img.jpg");
}

.client-6 {
  background: url("client-6-img.jpg");
}

.client-7 {
  background: url("client-7-img.jpg");
}

.card-btn {
  border: 1px solid lightgray;
  color: lightgray;
}

.card-btn .material-icons {
  vertical-align: text-bottom;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}
/*# sourceMappingURL=styles.css.map */